.JoinCampaign{
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.JoinCampaign button{
  font-size: 2rem;
}

.JoinCampaign input{
  font-size: 2rem;
}

.ErrorMessage {
  margin-top: 2rem;
  color: red;
  text-align: center;
}

@media (min-width: 38rem) {
  .JoinCampaign{
    display: flex;
  }
}
