<div class="buttonPlacement">
  <button pButton type="button" label="Add Character" [routerLink]="'/characters/add'"></button>
</div>
<ul>
  <li *ngFor="let character of characters | async">
    <p-card>
      <h3>{{character.Name}}</h3>
      <h4>Basic Info</h4>
      <p>Level {{character.Level}} {{character.Race}} {{character.Subclass}} {{character.Class}}</p>
      <p>Proficiency Bonus: +{{CalculateProficiencyBonus(character.Level)}}</p>
      <h4>Stats</h4>
      <p>HP: {{character.HP}}</p>
      <p>AC: {{character.AC}}</p>
      <p>STR: {{character.STR}} ({{ShowModifier(character.STR)}})</p>
      <p>DEX: {{character.DEX}} ({{ShowModifier(character.DEX)}})</p>
      <p>CON: {{character.CON}} ({{ShowModifier(character.CON)}})</p>
      <p>INT: {{character.INT}} ({{ShowModifier(character.INT)}})</p>
      <p>WIS: {{character.WIS}} ({{ShowModifier(character.WIS)}})</p>
      <p>CHA: {{character.CHA}} ({{ShowModifier(character.CHA)}})</p>
      <h4>Saving Throws</h4>
      <p>STR: {{CalculateSavingThrow(character.Class, "STR", character.Level, character.STR)}}</p>
      <p>DEX: {{CalculateSavingThrow(character.Class, "DEX", character.Level, character.DEX)}}</p>
      <p>CON: {{CalculateSavingThrow(character.Class, "CON", character.Level, character.CON)}}</p>
      <p>INT: {{CalculateSavingThrow(character.Class, "INT", character.Level, character.INT)}}</p>
      <p>WIS: {{CalculateSavingThrow(character.Class, "WIS", character.Level, character.WIS)}}</p>
      <p>CHA: {{CalculateSavingThrow(character.Class, "CHA", character.Level, character.CHA)}}</p>
      <h4>Skill Checks</h4>
      <p>Proficiencies on Skill Checks are a WIP</p>
      <button pButton type="button" label="Edit"></button>
      <button pButton type="button" label="Delete" class="p-button-danger"></button>
    </p-card>
  </li>
</ul>
