<p-card>
  <h3 id="CampaignName"></h3>
  <h4>Description</h4>
  <p id="CampaignDescription"></p>
  <h4>Players in campaign</h4>
  <ul>
    <li *ngFor="let character of characters | async">
      <p>{{character.Name}}: <b>Level</b> {{character.Level}} <b>Class</b> {{character.Class}} <b>Subclass</b> {{character.Subclass}}</p>
    </li>
  </ul>
  <h4>Your characters that can join</h4>
  <ul>
    <li *ngFor="let joinableChar of joinableCharacters | async">
      <p>{{joinableChar.Name}} <button pButton type="button" label="Join" (click)="JoinCharacter(joinableChar)"></button></p>
    </li>
  </ul>
</p-card>
<button pButton type="button" label="Back" (click)="btnBack()"></button>