<h2>Roll Die!</h2>
<ul class="uLists">
  <li id="D4Roll">D4 X<input id="amountD4Dice" value="0" type="number"></li>
  <li id="D6Roll">D6 X<input id="amountD6Dice" value="0" type="number"></li>
  <li id="D8Roll">D8 X<input id="amountD8Dice" value="0" type="number"></li>
  <li id="D10Roll">D10 X<input id="amountD10Dice" value="0" type="number"></li>
  <li id="D12Roll">D12 X<input id="amountD12Dice" value="0" type="number"></li>
  <li id="D20Roll">D20 X<input id="amountD20Dice" value="0" type="number"></li>
  <li id="D100Roll">D100 X<input id="amountD100Dice" value="0" type="number"></li>
  <li id="multiDiceRoll"><button (click)="RollDice()">MULTI DICE ROLL</button></li>
</ul>

<ul id="lstRolls" class="uLists">

</ul>
