<h2>Roll Dice!</h2>
<div class="diceRoller">
  <ul class="uLists">
    <div id="D468Dice" class="myOverride"><li id="D4Roll">D4 X<p-inputNumber [(ngModel)]="valueDice4" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD4Dice"></p-inputNumber></li></div>
    <div id="D468Dice" class="myOverride"><li id="D6Roll">D6 X<p-inputNumber [(ngModel)]="valueDice6" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD6Dice"></p-inputNumber></li></div>
    <div id="D468Dice" class="myOverride"><li id="D8Roll">D8 X<p-inputNumber [(ngModel)]="valueDice8" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD8Dice"></p-inputNumber></li></div>
    <div id="D101220Dice" class="myOverride"><li id="D10Roll">D10 X<p-inputNumber [(ngModel)]="valueDice10" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD10Dice"></p-inputNumber></li></div>
    <div id="D101220Dice" class="myOverride"><li id="D12Roll">D12 X<p-inputNumber [(ngModel)]="valueDice12" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD12Dice"></p-inputNumber></li></div>
    <div id="D101220Dice" class="myOverride"><li id="D20Roll">D20 X<p-inputNumber [(ngModel)]="valueDice20" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD20Dice"></p-inputNumber></li></div>
    <div class="myOverride"><li id="D100Roll">D100 X<p-inputNumber [(ngModel)]="valueDice100" [showButtons]="true" mode="decimal" [min]="0" inputId="amountD100Dice"></p-inputNumber></li></div>
    <li id="multiDiceRoll"><button pButton type="button" class="primary btnDiceRoller" label="Roll Dice" (click)="RollDice()"></button><button pButton type="button" class="primary btnDiceRoller" label="Clear Dice Rolls" (click)="ClearDiceRolls()"></button></li>
  </ul>

  <ul id="lstRolls" class="uLists">

  </ul>
</div>
