/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box; /* width and height include paddings and borders */
	margin: 0; /* wipe out browser differences */
	padding: 0; /* wipe out browser differences */
}

img {
	border: 0;
}

ul {
  list-style: none;
}

.container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}

h1 {
  color: #D30808;
	font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
}
h2, h3 {
  color: #D30808;
	font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
}

html {
	font-size: 0.625em;  /* set 1 rem = 16px * 0.625 = 10px */
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.p-menubar a {
  font-size: 2rem;
}

.myOverride .p-inputtext {
	font-size: 1.5rem;
	width: 3rem;
}

.p-card {
  margin-top: 2rem;
}

.p-card h4{
  font-size: 2rem;
}

.p-card p{
  font-size: 1.5rem;
}

.p-card button{
  margin: 1rem;
  font-size: 2rem;
}

.p-card-subheader{
  font-size: 5rem;
}

.buttonPlacement{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonPlacement button{
  font-size: 2rem;
}

.disclaimer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer h5 {
  color: red;
}

.OverrideBasicI .p-inputtext {
	font-size: 1.8rem;
	width: 28rem;
}

.OverrideBasicI #Class .p-inputtext {
	font-size: 1.8rem;
	width: 15rem;
}

.OverrideBasicI #Level .p-inputtext {
	font-size: 1.8rem;
	width: 5rem;
}

.OverrideStats .p-inputtext {
	font-size: 1.8rem;
	width: 5rem;
}
